@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');

body {
    display: flex;
    align-items: flex-start;
    font-size: 1.2em;
    margin: 0;
    padding: 7em 15em;
    font-family: 'Public Sans', sans-serif;
    background-color: #31293f;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
}

.box1 {
    display: flex;
    align-items: center;
    gap: 2em;
    background-color: #ff6e6e;
    padding: 2em;
    border-radius: 0.5em 0.5em 0 0;
}

.images {
    display: flex;
}

img {
    width: 6em;
    height: 6em;
    border: 3px solid white;
    border-radius: 50%;
    object-fit: cover;
}

.image1 {
    position: relative;
    margin-right: -1em;
    z-index: 1;
}

.image3 {
    margin-left: -1em;
}

.heading {
    line-height: 2em;
}

.headText {
    font-size: 2em;
    font-weight: 600;
}

.text {
    font-size: 1.3em;
}

.box2 {
    display: flex;
    padding: 2em;
    background-color: #2a2239;
    gap: 2em;
}

.box2 div {
    background-color: #3d344c;
    display: flex;
    flex-direction: column;
    padding: 2em;
    border-radius: 0.5em;
}

.box2 span {
    font-size: 1.3em;
}

.box2 img {
    align-self: flex-start;
}

.box3 {
    display: flex;
}

.box3 {
    display: flex;
    background-color: #2a2239;
    align-items: center;
    padding: 1em 2em 2em 2em;
    border-radius: 0 0 0.5em 0.5em;
}

.box3 div {
    display: flex;
    border-radius: 2em;
    width: 100%;
    height: 3em;
}

input {
    padding: 1em;
    background-color: #3d344c;
    outline: none;
    border: 1px solid #ff6e6e;
    border-radius: 2em 0 0 2em;
    width: 90%;
    color: #a69cbc;
}

input, input::placeholder {
    font-size: 1em;
}

.plane {
    padding: 0.5em 1em 0.5em 0.7em;
    border: 1px solid #ff6e6e;
    border-radius: 0 2em 2em 0;
    text-align: left;
    font-size: 1.4em;
    cursor: pointer;
}

.crossIcon {
    align-self: flex-end;
    padding-top: 1em;
    font-size: 2em;
    cursor: pointer;
}

.crossIcon  i {
    background-color: #ff6e6e;
    border-radius: 50%;
    padding: 1em;
}