* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    color: silver;
    font-weight: 600;
}

/* * {
    border: 1px solid black;
} */

i {
    font-size: 2em;
    color: silver;
}

.main-container {
    margin: 1em 10em;
    margin-top: 2em;
    padding: 1.7em 2em;
    padding-bottom: 2.4em;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background-color: white;
    gap: 0.5em;
}

.top-icons-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    color: silver;
    padding: 0.2em;
}

.top-icons-container .i {
    align-self: center;
    /* background-color: white; */
}

#song {
    font-size: 1.6em;
    color: black;
    margin-top: -0.3em;
}

#singer {
    color: black;
}

img {
    width: 80%;
    margin: 1.5em 5em;
    margin-bottom: 4em;
}

.underline {
    width: 100%;
    border-bottom: 0.2em solid silver;
}

.music-timer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.bottom-icons-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 1em 0.2em;
    padding-bottom: 1.2em;
}

.music-title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.7em 0.5em;
    font-size: 1.45em;
}

.black {
    color: black;
}

.large {
    font-size: 4em;
    color: gray;
}

.dot-contain {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dot {
    align-self: center;
    color: aquamarine;
    font-size: 0.2em;
    margin-left: -0.4em;
    margin-right: 0.1em;
}